@use "custom";
@use "mixins";
@use "extends";
@use "global";

/* -------------------------------------------------------
                    About section
---------------------------------------------------------*/

.about-section {
    @include d-flex(flex, center, center, row, center);

    .about-container {
        @include d-flex(flex, center, center, row, center);

        .about-content {
            @include d-flex(flex, center, center, row, center);
            gap: 2em;

            .about-content-left {
                @include d-flex(flex, center, center, row, center);
                width: 50%;
                overflow: hidden;
                gap: 3em;

                img {
                    width: 80%;
                    height: 40em;
                    object-fit: cover;
                    object-position: center;

                    &:last-child {
                        margin-top: 5em;
                    }
                }
            }

            .about-content-right {
                @include d-flex(flex, center, start, column, start);
                width: 50%;
                height: auto;

                .about-title {
                    position: relative;
                    width: 12em;
                    white-space: normal;
                    display: inline-block;

                    .subheading {
                        font-family: $font-secondary;
                        color: $primary;
                        font-size: 6em;
                        line-height: 0;
                        margin-bottom: 0;
                        top: -50px;
                        left: 0;
                        right: 0;
                        display: block;
                        z-index: -1;
                    }

                    h2 {
                        font-weight: 600;
                        margin-top: 0;
                        margin-bottom: 1em;
                        font-size: 3.8em;
                        line-height: 1.2;
                    }
                }

                p {
                    font-size: 1.2em;
                    line-height: 2;
                    font-weight: 400;
                    margin-bottom: 1em;
                }

                .time {
                    margin-bottom: 0;
                    span {
                        display: block;

                        a {
                            font-size: 2.5em;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    // Responsive styles for xs, sm, and md screens
    @media (min-width: 320px) and (max-width: 1199px) {
        @include d-flex(flex, center, center, column, center);

        .about-container {
            @include d-flex(flex, center, center, column, center);

            .about-content {
                @include d-flex(flex, center, center, column, center);
                width: 100%;

                .about-content-left {
                    @include d-flex(flex, center, center, column, center);
                    width: 100%;

                    img {
                        width: 100%;

                        &:last-child {
                            margin-top: 0em;
                        }
                    }
                }

                .about-content-right {
                    @include d-flex(flex, center, start, column, start);
                    width: 100%;
                    height: auto;

                    .about-title {
                        margin-top: 5em;

                        .subheading {
                            font-family: $font-secondary;
                            color: $primary;
                            font-size: 6em;
                            line-height: 0;
                            margin-bottom: 0;
                            top: -50px;
                            left: 0;
                            right: 0;
                            display: block;
                            z-index: -1;
                        }

                        h2 {
                            font-weight: 600;
                            margin-top: 0;
                            margin-bottom: 1em;
                            font-size: 3.8em;
                            line-height: 1.2;
                        }
                    }

                    p {
                        font-size: 1.2em;
                        line-height: 2;
                        font-weight: 400;
                        margin-bottom: 1em;
                    }

                    .time {
                        margin-bottom: 3em;
                        span {
                            display: block;

                            a {
                                font-size: 2.5em;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}
