@use "custom";
@use "mixins";
@use "extends";
@use "global";

/* -------------------------------------------------------
                 Footer upper section
---------------------------------------------------------*/

// Upper footer
footer {
    .upper-footer-container {
        @include d-flex(flex, center, center, row, center);
        background-color: $black;

        .upper-footer {
            @include d-flex(flex, center, flex-start, row, start);
            gap: 2em;
            color: $white;
            position: relative;
            margin: 0 auto;
            padding: 2.5em 0;

            a {
                @include hover("background-color", transparent, "color", $primary);
            }

            h3 {
                margin-bottom: 0.8em;
                font-weight: 700;
                font-size: 1.2em;
                color: $white;
            }

            ul,
            .footer-follow-us {
                list-style: none;
                padding: 0;
                margin: 0;
                font-weight: 300;
                font-size: medium;
            }

            ul li {
                @include d-flex(flex, space-between, center, row, start);
                margin-bottom: 0.5rem;
                color: $gray;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .upper-footer {
            display: flex;
            justify-content: space-between;

            // Logo
            .footer-brand {
                display: flex;
                align-self: center;
                height: 100%;
                font-weight: 900;
                font-size: 2em;
            }
            // Logo end

            // Open hours
            .footer-contact {
                @include d-flex(flex, center, flex-start, column, center);

                ul li {
                    span {
                        margin-left: 3em;
                    }
                }
            }
            // Open hours end

            //Follow us
            .footer-follow-us {
                color: $gray;
                p {
                    font-size: 0.9em;
                    width: 20em;

                    @media (min-width: 320px) and (max-width: 768px) {
                        width: 100%;
                    }

                    &:last-child {
                        font-size: 1em;
                    }
                }
            }

            .social-icons {
                margin: 1em 0;
                color: $primary;
                font-size: 1.2em;

                a {
                    padding-right: 1em;

                    @include hover("color", $white, "background-color", transparent);
                }
            }
            //Follow us end
        }

        // Media queries for xs, sm, and md screens
        @media (min-width: 320px) and (max-width: 768px) {
            @include d-flex(flex, center, center, column, center);
            .upper-footer {
                padding: 3em;
            }

            .footer-brand {
                margin: 0;

                img {
                    height: 3.5em;
                }
            }

            .upper-footer {
                flex-direction: column;
                align-items: stretch;

                > div {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }

    /* -------------------------------------------------------
                Footer bottom section
---------------------------------------------------------*/
    .bottom-footer-container {
        background-color: $black;
        border-top: 1px solid rgba(255,255,255,.2);

        .bottom-footer {
            @include d-flex(flex, space-between, center, row, center);

            color: $primary;
            font-size: small;
            max-width: 1400px;
            width: 100%;
            margin: 0 auto;
            padding: 1em 0;

            a {
                @include hover("background-color", transparent, "color", $white);
            }
        }

        // Media queries for xs, sm, and md screens
        @media (min-width: 320px) and (max-width: 768px) {
            .bottom-footer {
                flex-direction: column;
                text-align: center;
                font-size: small;
            }
        }
    }
}
