@use "custom";
@use "mixins";
@use "extends";
@use "global";

/* -----------------------------------------------------------------
                        Manager home page
 ----------------------------------------------------------------- */
.manager-header {
    .navbar-menu {
        background-color: $black;

        .navbar-nav {
            .nav-item {
                .nav-link {
                    @include button-style($secondary-blue, $primary-blue, $primary-blue, $light-blue);
                    padding: 0.8em;
                    border-radius: 0;
                }
            }
        }
    }
}

.manager-container {
    @include d-flex(flex, space-evenly, center, column, center);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 1em;
    background-color: $primary-blue;

    .welcome {
        text-align: center;
        background-color: inherit;

        .welcome-text {
            color: $light-blue;
            font-weight: light;

            span {
                color: $secondary-blue;
                font-weight: light;
            }
        }
    }

    .manager-content {
        @include d-flex(flex, center, center, column, center);

        .category-container {
            @include d-flex(flex, center, center, row, center);
            border-radius: 1em;
            width: 100%;
            gap: 3em;
            z-index: 3;

            .category-card {
                @include d-flex(flex, space-evenly, center, column, center);

                background-color: $secondary-blue;
                margin-top: 5em;
                padding: 1em;
                border-radius: 1em;
                width: 25em;
                height: 25em;
                gap: 2em;
                transition: all 0.5s ease;

                .btn-primary {
                    @include d-flex(block, center, center, column, center);
                    color: $light-blue;
                    background-color: $primary-blue;
                    width: 15em;
                    height: 15em;
                    font-weight: 200;
                    font-size: 1.5em;
                    border-radius: 1em;
                    transition: all 1.5s 0.2s ease;
                    position: relative;
                    max-width: 25em;
                    text-decoration: none;
                    z-index: 0;
                    overflow: hidden;

                    &:before {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        top: -1em;
                        right: -1em;
                        background: $primary-red;
                        height: 2.5em;
                        width: 2.5em;
                        border-radius: 1.5em;
                        transform: scale(1);
                        transform-origin: 50% 50%;
                        transition: transform 0.5s ease-out;
                    }

                    &:hover:before {
                        transform: scale(21);
                    }
                }
            }
        }

        .background-vector {
            background-color: $primary-blue;

            img {
                height: auto;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
            }
        }
    }

    // Responsive styles for manager page
    @media (min-width: 320px) and (max-width: 768px) {
        @include d-flex(flex, center, center, column, center);
        height: auto;
        width: 100%;

        .manager-content {
            .category-container {
                @include d-flex(flex, center, center, column, center);
                width: 100%;
                gap: 1em;

                .category-card {
                    margin-top: 2em;
                    gap: 1em;
                }
            }
        }
    }

    @media (min-width: 769px) and (max-width: 1332px) {
        @include d-flex(flex, center, center, column, center);
        height: auto;
        width: 100%; 

        .manager-content {
            .category-container {
                flex-wrap: wrap;
            }
        }
    }
}

/* -----------------------------------------------------------------
                    Manager product pages
 ----------------------------------------------------------------- */
.table-livres {
    @extend %table-style;
}

.table-papeteries{
    @extend %table-style;

    table {
        tr {
            td {
                &:nth-child(3) {
                    font-size: 0.8em;
                }

                &:nth-child(4) {
                    font-size: 1em;
                }
            }

            th {
                &:nth-child(1) {
                    width: 10%;
                }

                &:nth-child(2) {
                    width: 22%;
                }

                &:nth-child(3) {
                    width: 8%;
                }

                &:nth-child(4) {
                    width: 10%;
                }

                &:nth-child(5) {
                    width: 10%;
                }

                &:nth-child(6) {
                    width: 40%;
                }
            }
        }
    }
}

.table-cadeaux{
    @extend %table-style;

    table {
        tr {
            td {
                &:nth-child(3) {
                    font-size: 0.8em;
                }

                &:nth-child(4) {
                    font-size: 1em;
                }
            }

            th {
                &:nth-child(1) {
                    width: 10%;
                }

                &:nth-child(2) {
                    width: 22%;
                }

                &:nth-child(3) {
                    width: 8%;
                }

                &:nth-child(4) {
                    width: 10%;
                }

                &:nth-child(5) {
                    width: 10%;
                }

                &:nth-child(6) {
                    width: 40%;
                }
            }
        }
    }
}
