@use "custom";
@use "mixins";
@use "extends";
@use "global";

/* -----------------------------------------------------------------
                        Manager home page
 ----------------------------------------------------------------- */
.manager-header {
    .navbar-menu {
        background-color: $black;

        .navbar-nav {
            .nav-item {
                .nav-link {
                    @include button-style($primary, $white, $white, $primary);
                    padding: 0.8em;
                    border-radius: 0;
                }
            }
        }
    }
}

.manager-container {
    @include d-flex(flex, center, center, column, center);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 1em;
    background-color: $black;

    h1 {
        @extend %h1-admin;
        margin-top: 0;
    }

    .welcome {
        text-align: center;
        background-color: inherit;
        margin-bottom: 1em;

        .welcome-text {
            color: $secondary;
            font-weight: light;

            span {
                color: $primary;
                font-weight: light;
            }
        }
    }

    .manager-content {
        @include d-flex(flex, center, center, column, center);
        padding: 0;

        .category-container {
            @include d-flex(flex, center, center, row, center);
            border-radius: 1em;
            width: 100%;
            gap: 3em;
            z-index: 3;

            .category-card-container {
                @include d-flex(flex, center, center, column, center);

                img {
                    height: 15em;
                    width: auto;
                }
                .category-card {
                    @include d-flex(flex, center, center, column, center);

                    background-color: $primary-darken;
                    padding: 1em;
                    border-radius: 1em;
                    width: 25em;
                    height: 10em;
                    gap: 1em;
                    transition: all 0.5s ease;

                    .btn-primary {
                        @include d-flex(flex, center, center, column, center);
                        color: $black;
                        background-color: $primary;
                        width: 15em;
                        height: auto;
                        font-weight: 300;
                        font-size: 1.5em;
                        border-radius: 1em;
                        transition: all 1.5s 0.2s ease;
                        position: relative;
                        max-width: 25em;
                        text-decoration: none;
                        z-index: 0;
                        overflow: hidden;

                        &:hover {
                            @include hover("background-color", $black, "color", $white);
                        }
                    }
                }
            }
        }

        .background-vector {
            background-color: $primary;

            img {
                height: auto;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
            }
        }
    }

    // Responsive styles for manager page
    @media (min-width: 320px) and (max-width: 768px) {
        @include d-flex(flex, center, center, column, center);
        height: auto;
        width: 100%;
        padding-top: 8em;

        h1 {
            margin-top: 1em;
        }

        .manager-content {
            .category-container {
                @include d-flex(flex, center, center, column, center);
                width: 100%;
                gap: 3em;

                .category-card-container {
                    width: 100%;

                    img {
                        width: 15em;
                        height: auto;
                    }

                    .category-card {
                        margin-top: 0;
                        gap: 1em;
                        width: 20em;

                        .btn-primary {
                            font-size: 1.2em;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 769px) and (max-width: 1332px) {
        @include d-flex(flex, center, center, column, center);
        height: auto;
        width: 100%;
        padding-top: 8em;

        h1 {
            margin-top: 1em;
        }

        .manager-content {
            .category-container {
                flex-wrap: wrap;
            }
        }
    }
}

/* -----------------------------------------------------------------
                    Manager product pages
 ----------------------------------------------------------------- */
.table-starters,
.table-mainCourses,
.table-desserts,
.table-reservations,
.table-messages {
    @extend %table-style;
}

.table-reservations {
    @include d-flex(flex, center, center, column, center);
    width: 100%;
    padding: 0;

    h1{
        @extend %h1-admin;
    }

    a{
        margin: 2em 0;

        @include button-style($black, $white, $white, $primary);
    }

    table {
        tr {
            th {
                font-size: 1em;
                padding: 0.5em;
                line-height: 1.2em;

                &:nth-child(1) {
                    width: 5%;
                }

                &:nth-child(2) {
                    width: 12%;
                }

                &:nth-child(3) {
                    width: 10%;
                }

                &:nth-child(4) {
                    width: 10%;
                }

                &:nth-child(5) {
                    width: 10%;
                }

                &:nth-child(6) {
                    width: 10%;
                }

                &:nth-child(7) {
                    width: 5%;
                }
                &:nth-child(8) {
                    width: 8%;
                }
                &:nth-child(9) {
                    width: 10%;
                }
                &:nth-child(10) {
                    width: 15%;
                }
            }

            td {
                padding: 0.5em;
                line-height: 1.3em;

                &:nth-child(1) {
                    font-weight: 600;
                }

                &:nth-child(4) {
                    font-size: 1em;
                }

                .btn-primary {
                    margin: 0.3em;
                    width: 7em;
                }

                .btn-secondary {
                    margin: 0.3em;
                    width: 7em;
                    border: 1px solid $primary;

                    &:hover {
                        border: 1px solid $black;
                    }
                }
            }
        }
    }

    // Responsive styles for table
    @media (min-width: 320px) and (max-width: 768px) {
        h1 {
            margin-bottom: 0;
            margin-top: 5em;
        }

        table {
            border: 0;

            tr {
                border: 0;
                display: block;
                padding: 1em;

                &:nth-child(odd) {
                    background-color: transparent;
                }

                &:hover {
                    background-color: transparent;
                }

                th {
                    display: none;
                }

                td {
                    display: block;
                    font-size: 1em;
                    text-align: right;
                    background-color: $secondary;
                    padding: 1em;

                    &:before {
                        content: attr(data-cell);
                        float: left;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    &:nth-child(even) {
                        background-color: $primary;
                    }

                    &:nth-child(1) {
                        background-color: $black;
                        color: $white;
                    }

                    &:nth-child(4) {
                        font-size: 1em;
                    }

                    &:first-child {
                        border-top-left-radius: 1em;
                        border-top-right-radius: 1em;
                    }

                    &:last-child {
                        background-color: $black;
                        text-align: center;
                        border-bottom-left-radius: 1em;
                        border-bottom-right-radius: 1em;
                    }
                }
            }
        }
    }

    @media (min-width: 769px) and (max-width: 1200px) {
        h1 {
            margin-bottom: 0;
            margin-top: 3em;
        }
    }
}


.table-messages {
    @include d-flex(flex, center, center, column, center);
    width: 100%;
    padding: 0;

    h1{
        @extend %h1-admin;
    }

    a{
        margin: 2em 0;

        @include button-style($black, $white, $white, $primary);
    }

    table {
        tr {
            th {
                font-size: 1em;
                padding: 1em;
                line-height: 1.2em;

                &:nth-child(1) {
                    width: 10%;
                }

                &:nth-child(2) {
                    width: 10%;
                }

                &:nth-child(3) {
                    width: 15%;
                }

                &:nth-child(4) {
                    width: 15%;
                }

                &:nth-child(5) {
                    width: 35%;
                }

                &:nth-child(6) {
                    width: 15%;
                }
            }

            td {
                padding: 0.5em;
                line-height: 1.3em;

                &:nth-child(1) {
                    text-transform: uppercase;
                    font-weight: 600;
                }
                
                &:nth-child(4) {
                    font-size: 1em;
                }

                .btn-primary {
                    margin: 0.3em;
                    width: 7em;
                }

                .btn-secondary {
                    margin: 0.3em;
                    width: 7em;
                    border: 1px solid $primary;

                    &:hover {
                        border: 1px solid $black;
                    }
                }
            }
        }
    }

    // Responsive styles for table
    @media (min-width: 320px) and (max-width: 768px) {
        h1 {
            margin-bottom: 1em;
            margin-top: 5em;
        }

        #message{
            margin:0;
        }

        table {
            border: 0;

            tr {
                border: 0;
                display: block;
                padding: 1em;

                &:nth-child(odd) {
                    background-color: transparent;
                }

                &:hover {
                    background-color: transparent;
                }

                th {
                    display: none;
                }

                td {
                    display: block;
                    font-size: 1em;
                    text-align: right;
                    background-color: $secondary;
                    padding: 1em;

                    &:before {
                        content: attr(data-cell);
                        float: left;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    &:nth-child(even) {
                        background-color: $primary;
                    }

                    &:nth-child(1) {
                        background-color: $black;
                        color: $white;
                    }

                    &:nth-child(4) {
                        font-size: 1em;
                    }

                    &:first-child {
                        border-top-left-radius: 1em;
                        border-top-right-radius: 1em;
                    }

                    &:last-child {
                        background-color: $black;
                        text-align: center;
                        border-bottom-left-radius: 1em;
                        border-bottom-right-radius: 1em;
                    }
                }
            }
        }
    }

    @media (min-width: 769px) and (max-width: 1200px) {
        h1 {
            margin-bottom: 0.5em;
            margin-top: 3em;
        }

        #message{
            margin:0;
        }
    }
}
