@use "custom";
@use "mixins";
@use "extends";
@use "global";

/* -------------------------------------------------------
                        Menu page
---------------------------------------------------------*/
main {
    .hero-section {
        @include d-flex(flex, center, center, column, center);
        background-image: url("../assets/images/menu-bg.jpg");
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;

        h2 {
            font-size: 5em;
            color: $white;
            font-weight: 900;
            text-shadow: $text-shadow;
        }

        .hero-container {
            @include d-flex(flex, center, center, column, center);
        }
    }

    .menu-section {
        @include d-flex(flex, center, center, column, center);

        .menu-container {
            @include d-flex(flex, center, center, column, center);

            .menu-navbar {
                @include d-flex(flex, center, center, row, center);
                margin: 3em 0;

                .menu-navbar-items {
                    @include d-flex(flex, center, center, row, center);
                    padding: 0;

                    .menu-navbar-item {
                        position: relative;
                        background-color: inherit;
                        padding: 1em 2em;

                        &:hover {
                            background-color: $primary;
                        }

                        &.active {
                            background-color: $primary;

                            a {
                                color: $white;
                            }

                            &::after {
                                position: absolute;
                                bottom: -0.5em;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 0;
                                content: "";
                                height: 0;
                                border-style: solid;
                                border-width: 1em 1em 0 1em;
                                border-color: $primary transparent transparent transparent;
                            }
                        }

                        a {
                            color: $black;
                            font-size: 1.2em;
                            font-weight: 600;

                            &.active {
                                color: $white;
                            }
                        }
                    }
                }
            }

            .menu-items {
                @include d-flex(flex, center, center, row, center);
                width: 100%;
                height: auto;

                #starter-content,
                #main-course-content,
                #dessert-content {
                    @include d-flex(flex, center, center, column, start);
                    margin-bottom: 5em;
                    width: 100%;

                    .menu-item {
                        @include d-flex(flex, center, start, row, start);

                        .menu-item-image {
                            width: 15em;
                            height: 15em;
                            border: 1px solid $gray;
                            margin-right: -1px;
                            margin-bottom: -1px;
                        }

                        .menu-item-info {
                            @include d-flex(flex, center, start, column, start);
                            padding: 1em;
                            border: 1px solid $gray;
                            width: 15em;
                            height: 15em;
                            margin-right: -1px;
                            margin-bottom: -1px;

                            .menu-item-title {
                                font-size: 1.2em;
                                font-weight: 500;
                            }

                            span {
                                color: $primary;
                                font-weight: 700;
                                font-size: 1.3em;
                                margin: 0.5em 0;
                            }

                            p {
                                font-size: 1em;
                                font-weight: 300;
                            }
                        }
                    }
                }

                #main-course-content,
                #dessert-content {
                    display: none;
                }

                // Responsive styles for xs, sm, and md screens
                @media (min-width: 320px) and (max-width: 568px) {  
                    @include d-flex(flex, center, start, column, start);
                    gap:1em;
                    flex-wrap: wrap;
                    margin-bottom: 1em;


                    .menu-item {
                        @include d-flex(flex, center, start, column, start);
                        flex-wrap: wrap;
                    }

                    .reverse {
                        @include d-flex(flex, center, start, column, start);

                        .menu-item-image {
                            order: 1;
                            width: 10em;
                            height: 10em;
                        }
                        .menu-item-info {
                            order: 2;
                            width: 10em;
                            height: 10em;
                        }
                    }
                }

                @media (min-width: 569px) and (max-width: 1024px) {
                    flex-wrap: wrap;

                    .menu-item {
                        &:nth-child(2) {
                            .menu-item-image {
                                order: 2;
                                width: 10em;
                                height: 10em;
                            }
                            .menu-item-info {
                                order: 1;
                                width: 10em;
                                height: 10em;
                            }
                        }
                    }

                    .reverse {
                        .menu-item-image {
                            order: 1;
                            width: 10em;
                            height: 10em;
                        }
                        .menu-item-info {
                            order: 2;
                            width: 10em;
                            height: 10em;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1025px) {  
        .hero-section {
            background-image: url("../assets/images/menu-bg-vertical.jpg");
    
            h2 {
                font-size: 2em;
            }
        }

        .menu-section{
            .menu-container{
                .menu-navbar{
                    
                    .menu-navbar-items{
                        @include d-flex(flex, center, center, column, center);

                        .menu-navbar-item{
                            width: 15em;
                            a{
                                font-size: 1em;

                            }
                            &.active {
    
                                &::after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}
