@use "custom";
@use "mixins";
@use "extends";
@use "global";

/* -------------------------------------------------------
                    Reservation section
---------------------------------------------------------*/
.reservation-section {
    @include d-flex(flex, center, center, column, center);
    background-image: url("../assets/images/reservation.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .reservation-container {
        @include d-flex(flex, center, center, column, center);
        background: $white;
        width: 50%;
        height: auto;
        padding: 3em;

        .reservation-content {
            @include d-flex(flex, center, center, column, center);
            width: 100%;

            .reservation-content-title {
                @include d-flex(flex, center, center, column, center);
                width: 100%;
                height: auto;

                .reservation-title {
                    @include d-flex(flex, center, center, column, center);
                    margin-top: 3em;

                    .subheading {
                        font-family: $font-secondary;
                        color: $primary;
                        font-size: 6em;
                        line-height: 0;
                        margin-bottom: 0;
                        top: -3.2em;
                        left: 0;
                        right: 0;
                        display: block;
                        z-index: 0;
                    }

                    h2 {
                        font-weight: 600;
                        margin-top: 0;
                        margin-bottom: 1em;
                        font-size: 3.8em;
                        line-height: 1;
                        z-index: 1;
                    }
                }
            }

            form {
                @include d-flex(flex, center, center, column, center);
                width: 100%;
                
                .reservation-form-container {
                    @include d-flex(flex, center, center, row, center);
                    gap: 3em;
                    width: 100%;

                    .reservation-form-items {
                        @include d-flex(flex, center, start, column, start);
                        gap: 2em;
                        width: 100%;

                        .reservation-form-item {
                            @include d-flex(flex, center, start, column, start);
                            width: 100%;

                            .form-group {
                                @include d-flex(flex, center, start, column, start);
                                width: 100%;

                                label {
                                    font-weight: 600;
                                    color: $black;
                                    font-size: 1.2em;
                                }

                                .form-control {
                                    height: 3.5em;
                                    width: 100%;
                                    border-radius: 0px;
                                    border: 2px solid $gray;
                                    padding: 0 5em 0 1em;
                                    font-size: 1.1em;
                                    color: $darken;
                                    background-color: #f9f9f9;
                                    transition: border-color 0.3s ease;

                                    &:focus {
                                        border-color: $black;
                                        outline: none;
                                    }

                                    &::placeholder {
                                        color: $gray;
                                        font-style: italic;
                                        font-size: 1em;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .btn-secondary {
                margin-top: 2em;
                border-radius: 0;
                padding: 1em 3em;
                font-size: 1.2em;
            }
        }
    }

    // Responsive styles for xs, sm, and md screens
    @media (min-width: 320px) and (max-width: 768px) {
        height: 100%;

        .reservation-container {
            @include d-flex(flex, center, center, column, center);
            width: 90%;
            height: auto;
            padding: 2em;
            margin: 2em;

            .reservation-content {
                @include d-flex(flex, center, center, column, center);
                width: 100%;

                .reservation-content-title {
                    @include d-flex(flex, center, center, column, center);
                    width: 100%;
                    height: auto;

                    .reservation-title {
                        @include d-flex(flex, center, center, column, center);
                        margin-top: 3em;

                        .subheading {
                            font-size: 3.5em;
                        }

                        h2 {
                            margin-top: 0;
                            margin-bottom: 1em;
                            font-size: 2.5em;
                            line-height: 1;
                        }
                    }
                }

                form {
                    @include d-flex(flex, center, center, column, center);
                    gap: 1em;
                    width: 100%;

                    .reservation-form-container {
                        @include d-flex(flex, center, center, column, center);
                        gap: 1em;
                        width: 100%;

                        .reservation-form-items {
                            gap: 1em;

                            .reservation-form-item {
                                .form-group {
                                    label {
                                        font-size: 1em;
                                    }

                                    .form-control {
                                        height: 2.5em;
                                        font-size: 1em;
                                        padding: 0 2em 0 0.5em;
                                    }
                                }
                            }
                        }
                    }
                }

                .btn-secondary {
                    margin-top: 2em;
                    padding: 0.5em 3em;
                    font-size: 1em;
                }
            }
        }
    }

    @media (min-width: 769px) and (max-width: 1199px) {
        height: 100%;

        .reservation-container {
            @include d-flex(flex, center, center, column, center);
            width: 90%;
            height: auto;
            padding: 2em;
            margin: 2em;

            .reservation-content {
                @include d-flex(flex, center, center, column, center);
                width: 100%;

                .reservation-content-title {
                    @include d-flex(flex, center, center, column, center);
                    width: 100%;
                    height: auto;

                    .reservation-title {
                        @include d-flex(flex, center, center, column, center);
                        margin-top: 3em;

                        .subheading {
                            font-size: 4em;
                        }

                        h2 {
                            margin-top: 0;
                            margin-bottom: 1em;
                            font-size: 3em;
                            line-height: 1;
                        }
                    }
                }

                form {
                    @include d-flex(flex, center, center, column, center);
                    gap: 1em;
                    width: 100%;
                    .reservation-form-container {
                        @include d-flex(flex, center, center, row, center);
                        gap: 1em;
                        width: 100%;

                        .reservation-form-items {
                            gap: 1em;

                            .reservation-form-item {
                                .form-group {
                                    label {
                                        font-size: 1em;
                                    }

                                    .form-control {
                                        height: 2.5em;
                                        font-size: 1em;
                                    }
                                }
                            }
                        }
                    }
                }

                .btn-secondary {
                    margin-top: 2em;
                    padding: 0.5em 3em;
                    font-size: 1em;
                }
            }
        }
    }
}
