@use "custom";
@use "mixins";
@use "extends";
@use "global";

/* -------------------------------------------------------
                 Article upper section
---------------------------------------------------------*/

.product-container {
    @include d-flex(flex, center, center, column, center);
    gap: 2em;
    margin: 5em 0;
    height: 100vh;

    .product-info-container {
        @include d-flex(flex, center, center, row, center);
        gap: 6em;
        width: 100%;
        padding: 1em;

        .product-img {
            img {
                height: auto;
                width: 30em;
            }
        }

        .product-info {
            @include d-flex(flex, space-between, start, column, start);
            gap: 2em;

            h2 {
                text-align: start;
                font-weight: 500;
                font-size: 2em;
                margin: 0;
                padding: 0;
            }

            p {
                text-align: start;
                font-weight: 300;
                font-size: 1.2em;
                line-height: 1.6em;
                padding: 0.5em 0 0;

                span {
                    font-weight: 200;
                    font-size: 0.9rem;
                    display: block;
                }
            }

            .product-price {
                @extend %product-price;

                border-left: none;
                padding: 0;
                width: 100%;

                p {
                    padding: 0;
                }
            }

            .product-description {
                h2 {
                    font-size: 1.5em;
                    text-align: start;
                    font-weight: 500;
                    padding: 1em 0;
                }

                p {
                    padding: 0;
                    text-align: start;
                    font-size: 1em;
                    line-height: 1.5em;
                }
            }
        }
    }
    
    /* Media queries for xs, sm, and md screens */
    @media (min-width: 320px) and (max-width: 768px) {
        @include d-flex(flex, center, center, column, center);
        height: auto;
        margin-top: 3em;
        margin-bottom: 0;

        .product-info-container {
            @include d-flex(flex, center, center, column, center);
            width: 100%;
            padding: 0.5em;
            gap: 1em;
            margin: 3em 0;

            .product-img {
                img {
                    width: 15em;
                    margin-bottom: 1em
                }
            }

            .product-info {
                @include d-flex(flex, center, center, column, center);

                h2 {
                    font-size: 1.5em;
                    text-align: center;
                }

                p {
                    line-height: 1.3em;
                    padding: 0.5em 0;
                    text-align: center;

                    span {
                        font-size: 0.7em;
                    }
                }

                .product-price {
                    @include d-flex(flex, center, center, column, center);

                    p {
                        text-align: center;
                    }
                }

                .product-description {
                    h2 {
                        font-size: 1.3em;
                        text-align: center;
                        font-weight: 500;
                        padding: 1em 0;
                    }

                    p {
                        padding: 0;
                        text-align: center;
                        font-size: 1em;
                        line-height: 1.5em;
                    }
                }
            }
        }
    }

    @media (min-width: 769px) and (max-width: 1440px) {
        @include d-flex(flex, center, center, column, center);
        height: auto;
        margin-top: 3em;
        margin-bottom: 0;

        .product-info-container {
            @include d-flex(flex, center, center, column, center);
            width: 100%;
            padding: 0.5em;
            gap: 1em;
            margin: 3em 0;

            .product-img {
                img {
                    width: 30em;
                    margin-bottom: 1em
                }
            }

            .product-info {
                @include d-flex(flex, center, center, column, center);

                h2 {
                    font-size: 2em;
                    text-align: center;
                }

                p {
                    line-height: 1.3em;
                    padding: 0.5em 0;
                    text-align: center;

                    span {
                        font-size: 0.7em;
                    }
                }

                .product-price {
                    @include d-flex(flex, center, center, column, center);

                    p {
                        text-align: center;
                    }
                }

                .product-description {
                    h2 {
                        font-size: 1.5em;
                        text-align: center;
                        font-weight: 500;
                        padding: 1em 0;
                    }

                    p {
                        padding: 0;
                        text-align: center;
                        font-size: 1em;
                        line-height: 1.5em;
                    }
                }
            }
        }
    }
}
